html {
  background-color: #a67274;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  width: 100%;
  max-width: 1366px;
  min-width: 1000px;
  margin: 0 auto;
}

h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #fce373;
  text-transform: lowercase;
}

h4, h5, h6 {
  margin-top: 2rem;
}

h5{
  font-size: 1.6rem;
  color: #9cd08e;
  font-weight: lighter;
}
h6{
  font-size: 1.6rem;
  color: #fce373;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

h3{
  font-size: 3.5rem;
}

p,li,ul {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/* .mainLogo {
  margin: 0;
  font-size: 11rem;
  letter-spacing: 2rem;
  line-height: 11rem;
} */

.mainSubtitle {
  color: #a385bd;
  font-size: 2.3rem;
  margin-block-start: -2.3rem;
  font-weight: bold;
  margin-block-end: 0;
}

.module {
  color: #fce373;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Page structure */
.content {
  width: 70%;
  float: right;
  margin-top: 2.5%;
  margin-right: 2.5%;
}

.mainMenu {
    width: 22%;
    position: fixed;
    z-index: 1;
    float: left;
    margin-left: 2%;
    margin-top: 2.5%;
    background: transparent;
    overflow-x: hidden;
    max-height: 85vh;
    padding: 6px 0;
}

.mainMenu a {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: black;
  /* display: inline; */
}

.mainMenu:hover {
    overflow-y: scroll;
}

.mainMenu::-webkit-scrollbar {
    display: none;
}

.dropdown-btn {
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: transparent;
  display: inline;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container, .inner-dropdown-container {
  display: none;
  background-color: transparent;
  margin-left: 10%;
}

.inner-dropdown-container a {
  font-size: 1.2rem;
}

.inlinelink {
  color: white;
  text-decoration: none;
}

.inlinelink:visited {
  color: white;
}

.abtn:hover, .topbmod a:hover{
  color: #fce373;
}

.tbtn:hover, .techHead {
  color: #9cd08e;
}

.gbtn:hover, .genreHead{
  color: #a385bd;
}

.hbtn:hover, .histHead {
  color: #25a2a6;
}

footer p {
  font-size: 1.3rem;
  margin-left: 25%;
  color: #25a2a6;
  font-weight: bold;

}

.topbmod {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  width: 18%;
  text-decoration: none;
}

.topbmod:focus, .topbmod:visited, .topbmod:link, .topbmod:active{
    text-decoration: none;
    outline: none;
}

.topbmod a{
  color: black;
  text-decoration: none;
}

.bmod{
  text-align: center;
  /* padding: 5px 6px 6px 16px; */
  text-decoration: none;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  border: none;
  margin-top: 2.5%;
  position: relative;
}

.bmod img {
  width: 100%;
  height: 75vh;
  background-clip: border-box;
  border: 4px solid transparent;
}

.alabel {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
}

#techniques .alabel {
  background-color: rgba(128, 224, 167, 0.5);
}

#techniques img:hover {
  border: 4px solid #9cd08e;
}

#genres .alabel {
  background-color: #a385bd7d;
}

#genres img:hover {
  border: 4px solid #a385bd;
}

#history .alabel {
  background-color: #25a2a675;
}

#history img:hover {
  border: 4px solid #25a2a6;
}

.movie {
  font-style: italic;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

iframe {
  height:80vh;
  width:100%;
  border:none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* mark{
  background-color: rgba(45, 41, 38, 0.75);
  color: white;
  padding: 10px;
} */

.content p{
}

h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #fce373;
  text-transform: lowercase;
}

h2 {
  margin: 0;
  font-size: 6.5rem;
  letter-spacing: 0.5rem;
  line-height: 7.5rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #fce373;
  text-transform: lowercase;
}

img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin-top: 15px;
  margin-bottom: 15px; */
}

.diagram {
  object-fit: contain;
  max-height: 120vh;
}

.lists a:link{
    background-color: transparent;
    text-decoration: none;
    color: #9cd08e;
    font-weight: bold;
}
.lists a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #9cd08e;
}

.lists a:active {
    background-color: transparent;
    text-decoration: underline;
    color: #9cd08e;
  }
.lists h4{
  font-weight: lighter;
}


p,li,ul,blockquote {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
/* start tooltip styling */
.movie {
  position: relative;
  font-style: italic;
  border-bottom: 1px dotted white;
}

.movie .minfo {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  text-align: left;
  color: black;
  background-color: white;
  font-style: normal;
  font-size: 1rem;
  width: 30rem;
  /* top: 120%; */
}

.movie .details {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 18rem;
  float: right;
  display: block;
}

.movie img {
  width: 10rem;
  display: block;
  max-width: 15rem;
  margin: 0;
  float:left;
}

.movie:hover .minfo {
  visibility: visible;
}

.tooltipup {
  bottom: 120%;
  left: 50%;
  /* right: -50%; */
  margin-left: -15rem; /* has to be half of width to keep the arrow centered */
}

.tooltipdown {
  top: 120%;
  left: 50%;
  /* right: -50%; */
  margin-left: -15rem;
}

/* .tooltipleft {
  top: -160%; */
  /* right: 1rem; */
  /* right: 110%;
} */

.movie .tooltipdown::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.25rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.movie .tooltipup::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.25rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: white transparent transparent;
}

.movie .tooltipleft::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -0.25rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.content {
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* end tooltip styling */

/* glitch css */

*{
	box-sizing: border-box;
}

header.header{
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
  margin-top: 50px;
}
.glitch-window{
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: #222222;
	text-shadow: 5px 0 #a385bd, -5px 0 #9cd08e, -5px 0 black;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
}

@keyframes crt-me {
	 0% {
        clip: rect(31px, 9999px, 94px, 0)
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }
    30% {
        clip: rect(27px, 9999px, 97px, 0)
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }
    70% {
        clip: rect(34px, 9999px, 115px, 0)
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }
    100% {
        clip: rect(82px, 9999px, 64px, 0)
    }
}
