html {
  background-color: #ffffdd;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  width: 100%;
  /* max-width: 1366px; */
  min-width: 1000px;
  margin: 0 auto;
}

.sand {
  background-color: #eab126;
}

.paleyel {
  background-color: #ffffdd;
}

h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  /* color: #fce373; */
  color: black;
  text-transform: lowercase;
}

h4, h5, h6 {
  margin-top: 2rem;
}

h5, h5 {
  font-size: 1.6rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 3.5rem;
}

p,li,ul {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.mainSubtitle {
  color: #ffffdd;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.module {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Page structure */
.content {
  width: 78%;
  float: right;
  padding: 2.5%;
}

.mainMenu {
    width: 22%;
    position: fixed;
    z-index: 1;
    float: left;
    padding: 2%;
    height: 100vh;
    overflow-x: hidden;
}

.mainMenu a {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: black;
  /* display: inline; */
}

.mainMenu:hover {
    overflow-y: scroll;
}

.mainMenu::-webkit-scrollbar {
    display: none;
}

.dropdown-btn {
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: transparent;
  display: inline;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container, .inner-dropdown-container {
  display: none;
  background-color: transparent;
  margin-left: 10%;
}

.inner-dropdown-container a {
  font-size: 1.2rem;
}

.inlinelink {
  color: black;
  text-decoration: underline;
}

.inlinelink:visited {
  color: black;
  text-decoration: underline;
}

/* .abtn:hover, .topbmod a:hover{
  color: #fce373;
} */

.abtnalt:hover {
  /* color: #ffffdd; */
  color: #eab126
}

.abtn:hover {
  color: #ffffdd;
}

.tbtn:hover, .techHead {
  /* color: #9cd08e; */
  color: #1b7b34;
}

.gbtn:hover, .genreHead{
  color: #f24c4e
}

.hbtn:hover, .histHead {
  color: #1fb58f;
}

footer  {
  font-size: 1.3rem;
  color: black;
  /* font-weight: bold; */
  text-align: left;
}

.topbmod {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  width: 18%;
  text-decoration: none;
}

.topbmod:focus, .topbmod:visited, .topbmod:link, .topbmod:active{
    text-decoration: none;
    outline: none;
}

.topbmod a{
  color: black;
  text-decoration: none;
}

.bmod{
  text-align: center;
  /* padding: 5px 6px 6px 16px; */
  text-decoration: none;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  border: none;
  margin-top: 2.5%;
  position: relative;
}

.bmod img {
  width: 100%;
  height: 75vh;
  background-clip: border-box;
  border: 4px solid transparent;
}

.alabel {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
}

.alabel {
  color: #ffffdd;
}

#techniques .alabel {
  background-color: rgba(27, 121, 52, 0.5);
}

#techniques img:hover {
  border: 4px solid #1b7b34;
}

#genres .alabel {
  background-color: rgba(241, 75, 78, 0.5);
}

#genres img:hover {
  border: 4px solid #f24c4e;
}

#history .alabel {
  background-color: #25a2a675;
}

#history img:hover {
  border: 4px solid #25a2a6;
}

.movie {
  font-style: italic;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: black;
}

iframe {
  height:80vh;
  width:100%;
  border:none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #eab126;
  text-transform: lowercase;
}

.landinghead {
  color: #ffffdd;
}

h2 {
  margin: 0;
  font-size: 6.5rem;
  letter-spacing: 0.5rem;
  line-height: 7.5rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: black;
  text-transform: lowercase;
}

img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.diagram {
  object-fit: contain;
  max-height: 120vh;
}

.lists a:link{
    background-color: transparent;
    text-decoration: none;
    color: #ffffdd;
    font-weight: bold;
}
.lists a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #ffffdd;
}

.lists a:active {
    background-color: transparent;
    text-decoration: underline;
    color: #ffffdd;
  }
.lists h4{
  font-weight: lighter;
}


p,li,ul,blockquote {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/* start tooltip styling */
.movie {
  position: relative;
  font-style: italic;
  border-bottom: 2px dotted #eab126;
}

.movie .minfo {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  text-align: left;
  color: black;
  background-color: #ffffdd;
  font-style: normal;
  font-size: 1rem;
  width: 30rem;
  border: 4px solid black;
}

.movie .details {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 19rem;
  float: right;
  display: block;
}

.movie img {
  width: 10rem;
  display: block;
  max-width: 15rem;
  margin: 0;
  float:left;
}

.movie:hover .minfo {
  visibility: visible;
}

.tooltipup {
  bottom: 120%;
  right: 0%;
  margin-left: -15rem; /* has to be half of width to keep the arrow centered */
}

.tooltipdown {
  top: 120%;
  right: 0%;
  margin-left: -15rem;
}

.movie .tooltipdown::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -0.25rem;
  border-width: 0.5rem;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent black transparent;

}

.movie .tooltipup::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -0.25rem;
  border-width: 0.5rem;
  border-width: 12px;
  border-style: solid;
  border-color: black transparent transparent;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
}
/* end tooltip styling */

/* glitch css */
/* DON'T DELETE THIS FOR THE LOVE OF GOD*/
*{
	box-sizing: border-box;
}

.glitch{
  color: black;
  font-size: 12rem;
  height: 11rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  position:relative;
  margin:0 auto;
  font-family: "Josefin Sans", sans-sans-serif;
}

@keyframes noise-anim {
	 0% {
		 clip: rect(74px, 9999px, 22px, 0);
	}
	 5% {
		 clip: rect(53px, 9999px, 42px, 0);
	}
	 10% {
		 clip: rect(82px, 9999px, 42px, 0);
	}
	 15% {
		 clip: rect(28px, 9999px, 30px, 0);
	}
	 20% {
		 clip: rect(73px, 9999px, 88px, 0);
	}
	 25% {
		 clip: rect(3px, 9999px, 48px, 0);
	}
	 30% {
		 clip: rect(88px, 9999px, 32px, 0);
	}
	 35% {
		 clip: rect(59px, 9999px, 31px, 0);
	}
	 40% {
		 clip: rect(63px, 9999px, 37px, 0);
	}
	 45% {
		 clip: rect(89px, 9999px, 24px, 0);
	}
	 50% {
		 clip: rect(72px, 9999px, 56px, 0);
	}
	 55% {
		 clip: rect(10px, 9999px, 22px, 0);
	}
	 60% {
		 clip: rect(66px, 9999px, 81px, 0);
	}
	 65% {
		 clip: rect(51px, 9999px, 20px, 0);
	}
	 70% {
		 clip: rect(100px, 9999px, 1px, 0);
	}
	 75% {
		 clip: rect(47px, 9999px, 91px, 0);
	}
	 80% {
		 clip: rect(54px, 9999px, 79px, 0);
	}
	 85% {
		 clip: rect(52px, 9999px, 26px, 0);
	}
	 90% {
		 clip: rect(50px, 9999px, 4px, 0);
	}
	 95% {
		 clip: rect(83px, 9999px, 29px, 0);
	}
	 100% {
		 clip: rect(2px, 9999px, 63px, 0);
	}
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:#a67274;
  background:#eab126;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	 0% {
		 clip: rect(40px, 9999px, 95px, 0);
	}
	 5% {
		 clip: rect(85px, 9999px, 87px, 0);
	}
	 10% {
		 clip: rect(96px, 9999px, 97px, 0);
	}
	 15% {
		 clip: rect(45px, 9999px, 20px, 0);
	}
	 20% {
		 clip: rect(5px, 9999px, 73px, 0);
	}
	 25% {
		 clip: rect(41px, 9999px, 98px, 0);
	}
	 30% {
		 clip: rect(39px, 9999px, 88px, 0);
	}
	 35% {
		 clip: rect(17px, 9999px, 91px, 0);
	}
	 40% {
		 clip: rect(46px, 9999px, 2px, 0);
	}
	 45% {
		 clip: rect(19px, 9999px, 1px, 0);
	}
	 50% {
		 clip: rect(79px, 9999px, 66px, 0);
	}
	 55% {
		 clip: rect(52px, 9999px, 18px, 0);
	}
	 60% {
		 clip: rect(42px, 9999px, 31px, 0);
	}
	 65% {
		 clip: rect(5px, 9999px, 44px, 0);
	}
	 70% {
		 clip: rect(65px, 9999px, 48px, 0);
	}
	 75% {
		 clip: rect(73px, 9999px, 96px, 0);
	}
	 80% {
		 clip: rect(40px, 9999px, 5px, 0);
	}
	 85% {
		 clip: rect(68px, 9999px, 5px, 0);
	}
	 90% {
		 clip: rect(58px, 9999px, 6px, 0);
	}
	 95% {
		 clip: rect(32px, 9999px, 18px, 0);
	}
	 100% {
		 clip: rect(43px, 9999px, 75px, 0);
	}
}

.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:#9cd08e;
  background:#eab126;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
